.cardList {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-column-gap: 30px;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 500px){
    .cardList {
        grid-template-columns: repeat(auto-fit, 339px);
    }
}
@media screen and (min-width: 1024px){
    .cardList {
        grid-template-columns: repeat(auto-fit, 364px);
    }
}