.cardList {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-column-gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cardList__not-found {
    opacity: .5;
}

@media screen and (min-width: 500px){
    .cardList {
        grid-template-columns: repeat(auto-fit, 339px);
    }
}
@media screen and (min-width: 1024px){
    .cardList {
        grid-template-columns: repeat(auto-fit, 360px);
    }
}