.moviesCard {
    padding: 40px 0 14px;
    text-align: left;
}

.moviesCard__image {
    width: 100%;
    height: 168px;
    cursor: pointer;
}

.moviesCard__title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
}

.moviesCard__title {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
}

.moviesCard__button {
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: opacity .3s;
}

.moviesCard__button:hover {
    opacity: .6;
}

.moviesCard__button_close {
    background: url("../../images/card_close_button.svg") no-repeat center;
}

.moviesCard__button_like-active {
    background: url("../../images/like_active.svg") no-repeat center;
}

.moviesCard__button_like-deactivated {
    background: url("../../images/like_deactivated.svg") no-repeat center;
}

.moviesCard__duration {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    color: #8B8B8B;
    padding: 0 16px;
}

@media screen and (min-width: 500px) {
    .moviesCard__image {
        height: 190px;
    }
}

@media screen and (min-width: 1024px) {
    .moviesCard__image {
        height: 203px;
    }
}