.movies {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80px - 170px)
}

@media screen and (min-width: 500px){
    .movies {
        padding: 0 30px;
    }
}
@media screen and (min-width: 1024px){
    .movies {
        padding: 0 70px;
    }
}