.profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 30px;
    min-height: 100vh;
}

.profile__greetings {
    margin: 0;
    padding: 70px 0 80px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
}

.profile__form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.profile__fieldset {
    border: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
}

.profile__label {
    width: 70px;
    text-align: left;
}

.profile__input {
    width: 100%;
    background: #202020;
    border: none;
    color: #fff;
    text-align: right;
}

.profile__error {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
}

.profile__line {
    height: 1px;
    width: 100%;
    background: #424242;
    margin: 16px 0;
}

.profile__helper {
    flex: 1 1 auto;
}

.profile__editing-button {
    justify-self: flex-end;
    background: #202020;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    margin: 0 0 16px;
    transition: opacity .3s;
}

.profile__editing-button:hover {
    opacity: .6;
}

.profile__editing-button:disabled {
    color: #8B8B8B;
}

.profile__editing-button:disabled:hover {
    opacity: 1;
}

.profile__sign-out {
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    color: #EE3465;
    margin: 0 0 40px;
    transition: opacity .3s;
    align-self: center;
}

.profile__sign-out:hover {
    opacity: .7;
}

@media screen and (min-width: 500px) {
    .profile__form {
        max-width: 410px;
    }
}

@media screen and (min-width: 1024px) {

}