.sectionWithInfo {
    max-width: 1700px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 18px;
}

.sectionWithInfo__title {
    margin: 0;
    padding: 70px 0 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
}

.sectionWithInfo__line {
    display: block;
    background: #DADADA;
    width: 100%;
    height: 1px;
    margin: 0 0 60px;
}
@media screen and (min-width: 500px){
    .sectionWithInfo__title {
        font-size: 22px;
        line-height: 27px;
    }
    .sectionWithInfo {
        padding: 0 50px;
    }
}

@media screen and (min-width: 1024px) {
    .sectionWithInfo {
        padding:  0 70px;
    }
    .sectionWithInfo__title {
        padding: 110px 0 24px;
    }
}