.navTab {
    text-align: center;
    background: #073042;
    padding: 8px 0 40px;
}

.navTab__link {
    border: 1px solid rgba(255, 255, 255, .6);
    border-radius: 3px;
    padding: 10px 20px;
    background: #073042;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    color: #fff;
    text-decoration: none;
    transition: opacity .3s;
}
.navTab__link:hover {
    opacity: .5;
}